/* 
.search-drop {
    position: absolute;
    width: 450px;
    background: #fff;
    right: 9px;
    border-radius: 5px;
    box-shadow: #5d5d5d 0 0 16px -4px;
    padding: 15px 0;
    max-height: 340px;
    overflow-y: auto;
    top: 63px;
    display: none;
}

.search-drop a{
    width: 100%;
    border-bottom: #ddd 1px solid;
    transition: 0.3s all;
}

.search-drop a:hover{
    background: #eee;
}

.search-drop .search-item {
    display: flex !important;
    width: 100%;
}

.search-drop .search-item p {
    margin: 0;
    color: #222;
}

.search-drop .search-item h6 {
    margin: 0;
    color: #ad011b;
}

.search-drop .search-item img {
    height: 38px;
    width: 80px;
    object-fit: contain;
}

nav.m-nav{
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    padding: 0px 10px;
    z-index: 100;
}

nav .ship-to{
    padding: 8px 10px;
}

nav .ship-to p{
    margin:0;
    max-width: 110px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

nav .ship-to p:nth-child(1){
    font-size: 12px;
    color: #333;
}

nav.m-nav.m-nav-scroll{
    background: #fff;
    box-shadow: #5d5d5d 0 0 16px -4px;
    border-radius: 0 0 9px 9px;
}

nav.m-nav .active-nav{
    background: #fff !important;
    color: #001748;
}

nav.m-nav.m-nav-scroll .active-nav{
    background: #001748 !important;
    color: #fff;
}

nav.m-nav > a{
    float: left;
}

nav.m-nav > a > img{
    height: 53px;
    margin-top: 7px;
    float: left;
}

nav.m-nav .brand-text{
    float: left;
    margin: 0 10px;
    padding-top: 8px;
}

nav.m-nav .brand-text > label{
    color: #fff;
    font-size: 25px;
    font-family: 't1';
    margin: 0;
    cursor: pointer;
    line-height: 41px;
}

nav.m-nav .brand-text > p{
    color: #fff;
    margin: 0;
    font-size: 12px;
}


nav.m-nav.m-nav-scroll .brand-text label,
nav.m-nav.m-nav-scroll .brand-text p{
    color: #001748;
}

nav.m-nav > *{
    display: inline-block;
    vertical-align: middle;
}

nav.m-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    display: flex;
    justify-content: center;
}

nav.m-nav ul.user-ul{
    float: right;
}

nav.m-nav ul li{
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    justify-content: center;
    transition: 0.3s all;
    border-radius: 0 0 6px 6px
}

nav.m-nav ul li:hover .nav-drop{
    display: block;
}

nav.m-nav .nav-drop{
    position: absolute;
    background: #fff;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    display: none;
    box-shadow: #0000002b 0 13px 10px;
}

nav.m-nav .nav-drop ul{
    display: block;
}

nav.m-nav .nav-drop li{
    display: block;
    color: #001748;
}

nav.m-nav .nav-drop li span{
    width: 33px;
}

.search-nav{
    display: flex;
    border-radius: 50px;
    overflow: hidden;
    margin-top: 10px;
    border: #222 1px solid;
    width: 240px;
}

.search-nav input{
    background: #fff;
    border: none;
    height: 35px;
    padding: 0 15px;
    width: 75%;
    flex-grow: 1;
}

.search-nav button{
    background: #fff;
    color: #001748;
    padding: 0 18px;
    border: none;
    height: 35px;
    cursor: pointer;
}

nav.m-nav ul li a{
    padding: 18px 20px;
    display: inline-block;
}

nav.m-nav.m-nav-scroll ul li{
    color:#001748;
    border-radius: 0;
}

nav.m-nav.m-nav-scroll ul li:hover{
    background: rgb(236, 236, 236);
}

nav.m-nav ul li:hover{
    background: rgba(0, 0, 0,0.3);
} */


/*New Navbar*/
/* First Navbar */
#first_nav
{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 2;
    background-color: #323c4e;
    width: 100%;
    height: 40px;
    z-index: 3;
}
#first_nav .ship-to , #first_nav .Registration{
  color: #fff
}
#first_nav .ship-to p{
  font-size: 16px;
  margin: 0
}
/* First Navbar */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.wrapper{
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 2;
  margin: 40px 0 0 0;
  transition: all 0.3s ease 0s;
}
.header-fix {
  background: #001748;
  z-index: 9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin: 0 0 0 80px;
  display: flex;
}
.content .logo
{
    display: flex;
    align-items: center;
}
.content .logo a{
  color: #fff !important;
  font-size: 25px;
  font-family: 't1';
  margin: 0;
  cursor: pointer;
  line-height: 41px;
}
#logo_img
{
    height: 53px;
    margin-top: 7px;
    float: left;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li i{
  margin: 0 10px 0 0;
}
.content .links li a,
.content .links li label{
  position: relative;
  color: #fff !important;
  font-size: 18px;
  font-weight: 500;
  padding: 26px 17px;
  transition: all 0.3s ease;
}
.content .links li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.content .links li a:hover:after { 
  width: 100%; 
  left: 0; 
}

.content .links li label{
  display: none;
}

.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
  margin: 0;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #001748;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #001748;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #001748; /*#171c24*/
  padding: 0;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}
.content .links ul label{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 26px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper{
    background:#001748 ;
  }
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 110px;
    left: -100%;
    margin-left: 0;
    padding: 0;
    max-width: 350px;
    overflow-y: auto;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li label{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 20px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}
